* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* INTRODUCTION NAVBAR FORMATTING */
.body {
    width: auto;
    background-color:#01012b;
    color: #f90d7b;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
.header{
    margin-top: -100px;
    display: flex;
    justify-content: center;
    color: #05d8e6;
}

button{
  color: #f90d7b;
  background-color: black;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -webkit-animation: light 1s ease-in-out infinite alternate;
  -moz-animation: light 1s ease-in-out infinite alternate;
  animation: light 1s ease-in-out infinite alternate;
}
button:hover {
  color: #f90d7b;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: transparent;
  text-decoration: underline;  
}

.About {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#navbar{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    -webkit-animation: light 1s ease-in-out infinite alternate;
    -moz-animation: light 1s ease-in-out infinite alternate;
    animation: light 1s ease-in-out infinite alternate;
    
}

i{
  color: #05d8e6;
}

@-webkit-keyframes light {
    from {
      /* text-shadow: 0 0 2px #f90d7b, 0 0 2px #f90d7b, 0 0 2px #f90d7b, 0 0 20px #f90d7b, 0 0 50px #f90d7b, 0 0 70px #f90d7b, 0 0 70px #f90d7b; */
    }
    to {
      text-shadow: 0 0 2px #f90d7b, 0 0 2px #f90d7b, 0 0 40px #f90d7b, 0 0 50px #f90d7b, 0 0 60px #f90d7b, 0 0 70px #f90d7b, 0 0 80px #f90d7b;
    }
  }

.profile-text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-variant: small-caps;
  font-size: 100px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

  /* END INTRODUCTION NAVBAR  */


  /* ABOUT ME SECTION  */

#About-me{
    width: auto;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 2300px 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#01012b;
}

.media-heading{
  margin-top: -125px;
}

#text{
  color: #05d8e6;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 100;
  font-size: 18px;
  width: 600px;
}
/* END ABOUT ME SECTION */

/* GENERAL STYLING */
.image {
    padding: 20px;
    height: 400px;
    width:auto;
    border-radius: 7%;
}

.pink{
    color:#f90d7b
}

/* SKILLS */
.skill-icons {
  margin: auto;
  width: 50%;
  align-items: flex-end;
}

/* END SKILLS */

/* PROJECT STYLING */

#projects {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4edffe;

}

/* VIDEO  */

.videos{
  width: auto;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

video {
  height: 200px;
  width: 350px;
}
.proj {
  width: auto;
  height: 200px;
}

.img__wrap {
  align-content: center;
  height: 300px;
  width: auto;

}

figcaption{
  width:300px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* END VIDEO */

.title {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff2a6d;
}

#contact{
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;

}

/* NEW STUFF WAS ADDED BELOW */

* {box-sizin:border-box}

/* Slideshow container */
.slideshow-container {
  width: 900px;
  height: 400px;
  position: relative;
  margin: auto;
  align-content: center;
}

/* Hide the images by default */
.mySlides {
  width: 900px;
  height: 400px;
  position: relative;
  margin: auto;
  align-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.glow {
    font-size: 50px;
    color: #ff2a6d;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-animation: light 1s ease-in-out infinite alternate;
    -moz-animation: light 1s ease-in-out infinite alternate;
    animation: light 1s ease-in-out infinite alternate;
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #44ade9, 0 0 20px #44ade9, 0 0 30px #44ade9, 0 0 40px #44ade9, 0 0 50px #44ade9, 0 0 60px #44ade9, 0 0 70px #44ade9;
    }
    to {
      text-shadow: 0 0 20px #44ade9, 0 0 30px #44ade9, 0 0 40px #44ade9, 0 0 50px #44ade9, 0 0 60px #44ade9, 0 0 70px #44ade9, 0 0 80px #44ade9;
    }
  }